<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>  
		<setting name="mapUnderscoreToCamelCase" value="true" />  
    </settings>
    
	<typeAliases>
		<typeAlias alias="Bool" type="com.manage.model.Bool"/>
		<typeAlias alias="EnumIdTypeHandler" type="com.manage.model.EnumIdTypeHandler"/>
		<typeAlias alias="SysUser" type="com.manage.entity.SysUser"/>
		<typeAlias alias="SysRole" type="com.manage.entity.SysRole"/>
		<typeAlias alias="SysMenu" type="com.manage.entity.SysMenu"/>
		<typeAlias alias="ScheduleJob" type="com.manage.entity.ScheduleJob"/>
	</typeAliases>    
	
</configuration>
