<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.manage.mapper.SysConfigMapper">  
	<select id="queryObject" resultType="com.manage.entity.SysConfig">
		select * from sys_config where id = #{id}
	</select>
	
	<select id="queryList" parameterType="map" resultType="com.manage.entity.SysConfig">
		select * from sys_config where status = 1 
		<if test="key != null and key.trim() != ''">
			and `key` like concat('%',#{key},'%') 
		</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="queryTotal" parameterType="map" resultType="int">
		select count(*) from sys_config where status = 1 
		<if test="key != null and key.trim() != ''">
			and `key` like concat('%',#{key},'%')
		</if>
	</select>
	
	<insert id="save" parameterType="com.manage.entity.SysConfig">
		insert into sys_config(`key`, `value`, remark)
			values(#{key},#{value},#{remark})
	</insert>
	
	<update id="update" parameterType="com.manage.entity.SysConfig">
		update sys_config set `key` = #{key}, `value` = #{value}, remark = #{remark} 
			 where id = #{id}
	</update>
	
	<!-- 根据key，更新value -->
	<update id="updateValueByKey" parameterType="map">
		update sys_config set `value` = #{value} where `key` = #{key}
	</update>
	
	<!-- 根据key，查询value -->
	<select id="queryByKey" parameterType="String" resultType="String">
		select value from sys_config where `key` = #{key}
	</select>
	
	<delete id="deleteBatch" parameterType="int">
		delete from sys_config where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<sql id="pagingLimit">
		<include refid="com.manage.mapper.CommonMapper.pagingLimit" />
	</sql>
	
    <sql id="configFilter">
 			<if test="filter.key != null">
 				AND config.key like #{filter.key,javaType=string,jdbcType=CHAR}
 			</if>			
    </sql>

	<select id="selectConfigByFilter" 
			resultType="SysConfig">
		SELECT 
				*
	    FROM
	    	 sys_config config
		<where>
			<include refid="configFilter"/>
		</where>
			<include refid="pagingLimit"/>
	</select>
		
		
	<select id="countConfigByFilter"
			 resultType="int">
		SELECT
			 count(*) 
		FROM 
			 sys_config config
		<where>
			<include refid="configFilter"/>
		</where>
	</select>		
		
</mapper>